@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
      background-image: url("../images/bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      height: 96vh;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}

h2,
h1,
p {
      color: white;
      margin-block-start: 0em;
      margin-block-end: 0em;
}

h1 {
      font-size: 60px;
      margin-block-start: 0em;
      margin-block-end: 0em;
}

a {
      color: white;
}

.top {
      position: absolute;
      top: 10px;
      left: 10px;
}

.bottom {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
}

.main {
      text-align: center;
}